/* partes del documento HTML */
html{
    scroll-behavior:smooth;
}
body{
    background-color: #FEFAE0;
}

/* titulos */
h1{
    color: #191919;
    text-align: center;
    font-size: 3rem;
}
h2{
    color:#E3651D;
}
h3{
    color: #6c8302;
}

/* campos de las tablas */
td{
    border: 1px solid black;
}

/* esta forma de configurar las imagenes es una forma de hacer que las mismas sean responsivas al dispositivo
ya que estamos haciendo que la imagen use COMO MAXIMO el 100% del tamano de la pantalla, y segun el ancho se
configura automaticamente su largo para que la imagen no se vea deformada*/
img{
    max-width: 100%; 
    height: auto;
}
/* .importante{
    background-color: lightgrey;
} */
details{
    background-color: lightcoral;
}
.form{
    background-color: lightsteelblue;
    padding: 20px;
    display: inline-block;
    border: medium solid black;
}