body{
    background-color: rgb(230, 220, 250);
}
div{
    margin-top: 10px;
    padding: 10px;
} 
.color-by-name{
    background-color: aliceblue;
    color: brown;
    border: medium solid black;
}
.color-by-hex{
    background-color: #ffaacc;
    border: medium solid #225511;
    color: #00f;
}
.color-by-rgb{
    background-color: rgb(200, 200, 50);
    border: medium solid rgb(20, 200, 255);
    color: rgb(200, 20, 20);
}
.color-by-hsl{
    background-color: hsl(60, 30%, 70%);
    border: medium solid hsl(20, 100%, 20%);
    color: hsl(90, 80%, 20%);
}
.ejemplo-opacity{
    background-color: #225511;
    color: white;
    border: thin solid black;
    opacity: 0.4;
}
