@font-face{
    font-family: Montserrat;
    src: url("assets/Montserrat/Montserrat.ttf") format("ttf");
}
.Montserrat{
    font-family: "Montserrat",cursive;
}
.Inconsolata{
    font-family: 'Inconsolata', monospace;
}
.text-styles{
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    color: steelblue;
    text-transform: capitalize;
}