img{
    max-width: 100%;
    height: auto;
}
.card{
    border: medium solid black;
    width: 400px;
    height: 400px;

}
.card img{
    background-color: antiquewhite;
    height: 300px;

    object-fit: cover;






}