.border-radius{
    background-color: sandybrown;
    width: 400px;
    height: 400px;
    border: thin solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.outline{
    background-color: sandybrown;
    width: 400px;
    height: 400px;
    border: thick solid black;
    margin-left: auto;
    margin-right: auto;
    outline: 10px solid gold;
}
.boton{
    width: 200px;
    height: 10vh;
    background-color: aliceblue;
    border: thin solid blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 60px;
    box-shadow: 0 0 10px  #528 ;

}
input{
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 10px;
    width: 20%;
    border: transparent;
    border-bottom: 2px solid greenyellow;
    border-left: 2px solid greenyellow;
    border-radius: 5px;
    color: gray;
}
input:hover{
    border: transparent;
    border-bottom: 2px solid rgb(96, 150, 15);
    border-left: 2px solid rgb(90, 136, 20);
    border-radius: 5px;
}