body{
    background-color: #F6E6CB;
}
code{
    background-color: rgb(222, 219, 219);
    color: rgb(65, 89, 29);
    padding: 2px;
}
b{
    color: #973131;
}
h1{
    text-align: center;
    font-size: 34px;
}
.flex-item{

    height: 200px;
    width: 200px;
    background-color: #973131;
    margin: 10px;
}
.flex-item:first-child{
    background: #5a1b1b;
}


.flexbox{
    background-color:rgb(230, 179, 111);
    display: flex;
    flex-wrap: wrap;
}