/* root */
html, body{
    background-color: #FFF5E1;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*,*:before,*::after{
    box-sizing: inherit;
}

/* Estilos generales para el temario */
#temario-css {
    width: 30%;
    max-height: 80vh;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

/* Estilos para la lista de elementos del temario */
#temario-css ol {
    list-style-type: none;
    padding-left: 0;
}

/* Estilos para los elementos de la lista */
#temario-css li {
    margin-bottom: 10px;
}

/* Estilos para los enlaces dentro de los elementos de la lista */
#temario-css li a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

#temario-css li a:hover {
    color: #0056b3;
}

/* Estilos para los enlaces dentro de los elementos de la lista */
#temario-css hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}



/* Estilos para el borde con degradado */
.gradient-border {
    border: 2px solid transparent;
    /* border-image: linear-gradient(45deg, #ff9a9e, #fad0c4) 1; */
    -webkit-background-clip: text;
    color: transparent;
}




/* flecha */
.arrow{
    width: 100px;
    height: 100px;
    background-color: #898121;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius:50% ;
    box-shadow: 0rem 0rem 1rem 0.3rem gray ;
}
.arrow a{
    margin: 30px;
    display: block;
}

/* bordes */
.border-thin{
    border: thin black solid;
}

/* recordatorios */
.remembers{
    background-color: #b3eeb1;
}

/* seccion con titulo y temario */
#principal-section{
    width: 100%;
    height: 100vh;
    padding: 0px;
    background-color: #DFD0B8;
}
/* fondos degradados circulares */

.radial-gradient2{
    background-color: #EEE4B1;
}

/* titulos */
h1{
    margin: 0px;
    color: #034909;
    text-align: center;
    text-decoration:underline;
    font-size: 3rem;
    
}
h2{
    color: #197e13;
}
h3{
    color: rgb(119, 168, 152);
    text-decoration:underline;
}

